/* @group reset.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.webspeech {
  position: absolute;
  z-index: 1999999998;
  top: 0;
  left: 281px;
  width: 300px;
}

.webspeech .mic {
  padding: 0;
  margin: 0;
}

.webspeech .speechOutput {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.webspeech #status {
  font-family: nyt-franklin;
  font-size: 11px;
  line-height: 13px;
}
.webspeech #status_img {
  width: 18px;
  height: 18px;
}

.webspeech body {
  line-height: 1;
}
/*ol, ul {
  list-style: none;
}*/
.webspeech blockquote, q {
  quotes: none;
}

.webspeech blockquote:before, .webspeech blockquote:after,
.webspeech q:before, .webspeech q:after {
  content: '';
  content: none;
}
#webspeech table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */

#webspeech #supercontainer {
margin-left: auto;
margin-right: auto;
margin-top:10px;
width: 930px;
background:url("../images/octo-half-transp.gif") no-repeat right 165px
}

#webspeech body {
background: #FFFFFF; /* Old browsers */


/*  background: #b8d9fa url(../images/pattern_136.gif) repeat; */
/*  background: #3b52a4; url(../images/stripe.png) repeat-x;*/
  color: #111;
  font: 15px/22px 'Open Sans', Droid Sans, Arial, sans-serif;
}

#webspeech strong {
  font-weight: bold;
}

#webspeech em {
  font-style: italic;
}

#container {
  margin: 10px 10px 2em;
  width: 600px;
}

#webspeech header.primary {
  text-align: center;
  width: 850px;
  height: 100px;
  margin-left:0px;
  font-family: 'Rosario', sans-serif;
  font-size:24px;
  background-color:#EFF;
}

#webspeechheader.primary h1
{
    line-height:50px;
}

#webspeech  header.primary h3
{
    line-height:0px;
  font-family: 'Open Sans', sans-serif;
}

/* @group Nav */

#webspeech nav.primary {
  text-align: center;
  align:center;
  padding: 12px 0 18px;
  margin: 12px 0;
  background-color: #EFF;
}

#webspeech nav.primary ul {
  text-align: center;
  margin: 0 0 20px 28px;  
  padding: 0;
}
#webspeech  nav.primary ul, nav.primary li {
  list-style: none;
}

#webspeech  nav.primary li {
  float: left;
  margin-right: 20px;
  font: 20px/24px 'Open Sans', Arial, sans-serif;
  letter-spacing: -1px;
}

#webspeech  nav.primary li a {
  text-decoration: underline;
  color: #446344;
  display: block;
  padding: 3px 8px 3px 0;
}

#webspeech nav.primary li.active a {
  text-decoration: none;
	color: #333;
}

#webspeech nav.primary li a:hover {
  text-decoration: underline;
}


/* @end */

/* @group #main */

.webspeech #main {
  padding: 20px 24px;
  min-height: 100%;
  background-color: #EFF;
  margin: 0 auto;
}


.webspeech #supercontainer h2 {
  display:block;
  background:#AADDDD;
}
.webspeech #main a {
  color: #0065bd;
  text-decoration: underline;
}
.webspeech #main a:visited {
  color: #4f70bf;
}
.webspeech #main a.button {
  text-decoration: none;
}
.webspeech #main p {
  margin-bottom: 18px;
}
.webspeech #main hr {
  margin: 24px auto;
  height: 8px;
  width: 410px;
  background-color: transparent;
  border-style: none;
  background: url(../images/hr.png) no-repeat 0 50%;
}
.webspeech #main h1, .webspeech #main h2 {
  font-family: 'Aclonica', sans-serif;
  color: #000;
  
}
.webspeech #main h1 {
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 30px;
}
.webspeech #main h2 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 18px;
}
.webspeech #main h3 {
  font-family: 'Open Sans', serif;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 18px;
}

.webspeech #main ul {
  list-style: disc;
  margin-bottom: 18px;
}
.webspeech #main li {
  list-style: disc;
  margin-left: 16px;
  padding-left: 0px;
  margin-bottom: 6px;
}
.webspeech #main li ul {
  margin-bottom: 0;
}

.webspeech #main dl, #main dd, #main dd p {
  margin-bottom: 18px;
}
.webspeech #main dt {
	font-weight: bold;
	margin-bottom: 6px;
}

.webspeech code {
    background: #DDDDDD;
    position: relative;
    width: 94%;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 11px 10px;
    border: 1px dotted #000000;
    overflow: auto;
    text-align: left;
    display: block;
}


/* @end */



.webspeech footer.primary {
  padding: 12px 0;
  margin: 12px 0;
  text-align: center;
  background-color: rgba(254,255,255,0.8);
  font-size: 11px;
  color: #666;
}

